extends ../layout/layout

block head
  title About #{username}

block content
  .c-content
    include ../includes/pageheader
    each page in linkpages
      +linkbox(page[0], page[1], page[2], page[3])
    include ../includes/socialmedia
