- username='Thomas Scheibitz'
- avatar= 'https://scheibitz.com/thumbs/thomas_scheibitz-140x140.jpg'

-
    var linkpages = [
        ['scheibitz.com', 'https://www.scheibitz.com', '', ''],
        ['TinyStorageCart', 'https://tinystoragecart.com', '', 'Tiny Storage Cart is a fast and simple shopping cart, where the products are stored in the HTML5 localStorage. It can be implemented very easily.'],
        ['Grid-Scheibo', 'https://grid.scheibitz.com/', '', 'A simple SCSS grid based on CSS-Grid or Flexbox'],
        ['KSS-Scheibo - Styleguide', 'https://kss-scheibo.scheibitz.com/', '', 'A template for the KSS-node styleguide'],
    ]

-
    var socialmedia = [
        ['twitter', 'Twitter', 'https://www.twitter.com/scheibo_'],
        ['instagram', 'Instagram', 'https://www.instagram.com/scheibo/'],
        ['xing', 'Xing', 'https://www.xing.com/profile/Thomas_Scheibitz'],
        ['linkedin', 'LinkedIn', 'https://www.linkedin.com/in/thomas-scheibitz/'],
        ['github', 'GitHub', 'https://github.com/scheibome'],
        ['twitch', 'Twitch', 'https://www.twitch.tv/scheibo'],
    ]
