@import "../../node_modules/normalize.css/normalize";
@import
'settings/settings.variables',
'settings/settings.rootvariables',
'settings/settings.fonts',
'components/component.pageheader',
'components/component.linkbox',
'components/component.socialmedia';

body {
  // display: flex;
  // align-items: center;
  font-family: DM Sans, sans-serif;
  margin: 0;
  // height: 100vh;
  background-color: var(--root-color-bg);
  background-image: var(--root-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: var(--root-color-text);
}

.c-content {
  margin: auto;
  width: 90vw;
  max-width: 660px;
}
