$default-color-root: #3498db;
$default-color-bg: #FFFFFF;
$default-color-link: #FFFFFF;
$default-color-text: #000000;
$default-avatarsize: 120px;
$default-backgroundimage: url('../images/FFFFFF-0.png');
